
*[contenteditable] { cursor: pointer; }
*[contenteditable]:focus{
    background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; 
    border: 0 !important;
}

body{
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
/* html { background: #999; cursor: default; } */

section.page { box-sizing: border-box; height: 11in; margin: 0 auto; padding: 0.5in; width: 8.5in;  position: relative;}
/* section.page { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);font-size: 0.7rem; } */
span{
    font-size: 0.75rem;
    margin: 0.4rem ;
    height: 22px;
}

th{
    font-size: 0.6rem;
}
td{
    text-align:center
}
 td:first-child {
    text-align:left !important;
}
input[type="text"]{
    width: 100%;
}
input{
    border: 1px solid #dfe5e8;
}
input[type="datetime-local"]{
    width: 185px;
}

#totalcvalue>tbody>tr>td>span{
    width: 185px !important;
}
table#totalcvalue{
    page-break-inside: avoid;
}

.printbtn{
    position: fixed;
    bottom: 5%;
    left: 5%;
    border-radius: 100%;
    border: 0;
    height: 55px;
    color: #fff;
    width: 55px;
    background-color: rgba(221, 73, 53, 0.822);
}

.printbtn:hover{
    background-color: rgba(214, 89, 72, 0.822);
}

.gcvBg{
    background:#e9ecef;
    border-radius:3px;
    margin: 1px 0px 1px 0px;
}
input[type="datetime-local"] {
    width: 130px !important;
}

.btn-green{
 background:#00A74F;
 color:white;
}


.watermark{
    page-break-inside: avoid;
    font-size: 14rem;
    color: #b8b8b8;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-70%,-30%) rotate(-45deg);
    font-weight: 600;
    opacity: 0.2;
    display: none;
}


@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0;}
	section.page { box-shadow: none; margin: 5rem 5rem 1rem 5rem; padding:0;width: auto; }
    .noPrint{
        display: none;
    }
    .top-font{
        font-size: 1rem !important;
    }
    input{
        border: 0;
        background:transparent;
    }
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
    input[type="checkbox"],button{
        display: none;
    }

    .watermark{
        display: table-row-group;

    }
    
    .gcvBg{
        background:transparent;
        border-radius:3px;
        margin: 1px 0px 1px 0px;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
        background: none !important;
    }
    td>input{
        margin-top:0.6rem  !important;
        font-weight: 600;
    }
    th{
        font-size: 0.9rem;
    }
    table,tr{
        margin-top: 15px !important;
    }
    span{
        font-size: 1rem;
    }

    tr{
        page-break-inside: auto;
    }

    select {
        -moz-appearance: none;
        appearance: none;
        border: 0 !important;
        margin-left: 5px;
    }
    

}
.footer-section{
   margin-top: 5%;
    page-break-before: auto;
}


.page-break{
    page-break-before: avoid !important;
    page-break-after: always !important;
    page-break-inside: avoid !important;
    /* page-break-inside: avoid !important; */
}

table{
    empty-cells: -moz-show-background;
}
@page { margin: 0; }